target
dist*
*.bk
.idea
.vscode
/test
sddk/testdata

build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.xcworkspace
!default.xcworkspace
DerivedData
*.hmap
*.ipa
*.xcuserstate
dep
/src/
.vs
x64
cmake-build-debug
CMakeFiles
.DS_Store
/Win32
/x64
